<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laptop Price Prediction</title>
</head>
<body>
    <h1>hellow</h1>
    <form action="predict" method="POST">
        <input name="company" type="text" placeholder="company">
        <input name="type" type="text" placeholder="type">
        <input name="ram" type="text" placeholder="ram">
        <input name="weight" type="text" placeholder="weight">
        <input name="touchscreen" type="text" placeholder="touchscreen">
        <input name="ips" type="text" placeholder="ips">
        <input name="screen_size" type="number" placeholder="screen size">
        <input name="resolution" type="text" placeholder="resolution">
        <input name="cpu" type="text" placeholder="cpu">
        <input name="hdd" type="number" placeholder="hdd">
        <input name="ssd" type="number" placeholder="ssd">
        <input name="gpu" type="text" placeholder="gpu">
        <input name="os" type="text" placeholder="os">

        <button type="submit">submit</button>
    </form>
    
</body>
</html>